---
import singleGQL from '../../api/singleGQL';
import { Picture } from '@astrojs/image/components';
import { focusAreasQuery } from '../../../variables';
import PlaceholderImage from '../PlaceholderImage.astro';
import ScrollButtons from '../ScrollButtons.astro';

const strapi_url = import.meta.env.VITE_STRAPI_URL;

const focusAreasData = await singleGQL('focusAreas', focusAreasQuery);
const isLimited = focusAreasData.length < 4;
---

<section id='focusAreas'>
	<div class='container'>
		<div class='title-bar'>
			<h2>Focus Areas</h2>
			<ScrollButtons {isLimited} target='focusAreas' />
		</div>
		<div class='focusAreas post-grid scroll-container'>
			{
				focusAreasData.map(focusArea => {
					const {
						id,
						attributes: {
							title,
							excerpt,
							featuredImage: { data: imageData },
						},
					} = focusArea;
					const post_link = `/focus-areas/${id}`;
					return (
						<a
							class='post bordered pattern-4 invert'
							href={post_link}>
							<div class='card'>
								{imageData ? (
									<Picture
										class='featured-image'
										src={
											strapi_url +
											imageData.attributes.url
										}
										alt={
											imageData.attributes
												.alternativeText || ''
										}
										widths={[375]}
										aspectRatio={3 / 2}
										formats={['webp', 'avif']}
									/>
								) : (
									<PlaceholderImage />
								)}
								<div class='content'>
									<h3 {title}>{title}</h3>
									<p class='excerpt lc_5'>{excerpt}</p>
								</div>
								<p class='read-more'>
									Read More
									<img src='/images/decor/arrow.png' alt='' />
								</p>
							</div>
						</a>
					);
				})
			}
		</div>
	</div>
</section>

<style lang='less'>
	@import '../../styles/variables.less';
	section#focusAreas {
		overflow: hidden;
		background-color: var(--accentC3);
		position: relative;
		padding-top: 100px;
		padding-bottom: 100px;
		&::before {
			position: absolute;
			content: '';
			background-image: url('/images/decor/separator_2.svg');
			background-repeat: repeat-x;
			background-size: 26px;
			filter: var(--accentC1Filter);
			width: 100%;
			height: 30px;
			top: 4px;
		}
		&::after {
			position: absolute;
			content: '';
			background-image: url('/images/decor/separator_1.svg');
			background-repeat: repeat-x;
			background-size: 26px;
			filter: var(--accentC2Filter);
			width: 100%;
			height: 20px;
			bottom: 3px;
		}
		.container {
			.title-bar {
				display: grid;
				grid-template-columns: repeat(2, auto);
				gap: 25px;
				margin-bottom: 50px;
				@media @s-nd {
					grid-template-columns: 1fr;
				}
				h2 {
					color: var(--textC2);
					font-size: 2em;
				}
			}
			.focusAreas {
				--cardWidth: 330px;
				--padding: 32px;
				scroll-behavior: smooth;
				display: grid;
				grid-template-columns: repeat(
					auto-fit,
					var(--cardWidth)
				) !important;
				grid-template-rows: 1fr;
				grid-auto-flow: column !important;
				gap: calc(var(--cardWidth) / 10);
				overflow-x: auto;
				overflow-y: hidden;
				padding-left: 150px;
				padding-right: 150px;
				padding-bottom: 25px;
				width: calc(100% + 300px);
				transform: translateX(-150px);
				.post {
					--accentFilter: var(--primaryFilter);
					--opacity: 0.4;
				}
			}
		}
	}
</style>
