---
export interface Props {
	title: string;
	image?: string;
	classes?: string[];
}

const { title, image, classes } = Astro.props;
import '../styles/normalize.css';
import '../styles/global.less';
import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import { siteDetailsQuery } from '../../variables';
import singleGQL from '../api/singleGQL';
import { SEO } from 'astro-seo';

const siteDetails = await singleGQL('siteDetail', siteDetailsQuery);

const {
	attributes: { name, tagline },
} = siteDetails;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<SEO
			charset='UTF-8'
			{title}
			titleTemplate={`%s - ${name}`}
			titleDefault={name}
			description={tagline}
			noindex={true}
			nofollow={true}
			openGraph={{
				basic: {
					title: title,
					type: 'website',
					image: image || '/images/icons/og_image_600x600.png',
				},
			}}
			extend={{
				// extending the default link tags
				link: [],
				// extending the default meta tags
				meta: [
					{
						name: 'viewport',
						content: 'width=device-width',
					},
					{
						name: 'keywords',
						content: 'Rural, Women, India, Development, Collective',
					},
				],
			}}
		/>

		<link rel='icon' href='/favicon.ico' sizes='48x48' />
		<link rel='icon' href='/favicon.svg' sizes='any' type='image/svg+xml' />
		<link rel='apple-touch-icon' href='/apple-touch-icon.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<script type='application/ld+json'>
			{
				"@context": "https://schema.org",
				"@type": "NGO",
				"name": "Kutch Mahila Vikas Sangathan",
				"alternateName": "KMVS",
				"description": "Organising, mobilising and conscientizing women of Kutch in addressing gender inequities.",
				"nonprofitStatus": "Registered",
				"areaServed": {
					"@type": "AdministrativeArea",
					"name": "Gujarat, India"
				},
				"url": "https://kmvs.netlify.app",
				"logo": "https://kmvs.netlify.app/favicon.svg",
				"email": "kmvskutch@gmail.com",
				"telephone": "+91 2832 223311",
				"keywords": "Rural, Women, India, Development, Collective",
				"sameAs": [
					"https://www.facebook.com/KutchKMVS/",
					"https://twitter.com/kmvskutch",
					"https://www.instagram.com/kmvs_1989/",
					"https://in.linkedin.com/company/kmvs"
				]
			}
		</script>
	</head>
	<body class={'kmvs ' + classes.join(' ')}>
		<div class='wrapper'>
			<Header />
			<main id='content' tabindex='-1'>
				<slot />
			</main>
			<Footer />
		</div>
		<style lang='less'>
			body {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
			}
		</style>
	</body>
</html>
